body{
    background-color: rgb(97, 91, 134);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    color: silver;
    padding: 50px 60px ;
    background-color: rgb(67, 66, 78);
    /* border-radius: 10px; */
    border: 20px ridge rgb(10, 250, 210);
    
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.txt{
    font-size: 40px;
    font-weight: bold;
}
#btn-container{
    text-align: center;
   
    margin-top: 40px;
}
.btn{
    padding: 7px 25px;
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin: 0px 10px;
    color: white;
    border: 0px;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(78, 77, 77);
    cursor: pointer;
}
#start{
    background-color: rgb(52, 202, 47);
}
#stop{
    background-color: rgb(255, 0, 0);
}
#reset{
    background-color: rgb(255, 0, 179);
}
